:root { /* To set some custom global properties (variables) */
  --primary-color: rgba(13, 110, 139, 0.75);  /* The alpha value controls the transparency of the background - first overlay */
  --secondary-color: rgba(229, 148, 0 , 0.9);
  --overlay-color: rgba(24, 39, 51 , 0.85); /* When the burger menu is open - second overlay */
  --menu-speed: 0.75s;  /* The duration - from click to a fully opened burger menu */
}

* { /* To reset everything */
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* That padding doesn't take up the width */
}

body {
  font-family: 'Roboto', sans-serif;  /* Roboto is from Google */
  line-height: 1.4;
}

.container {  /* the div has h1, p and a (btn) in it */
  max-width: 960px; /* It's so thin to not cover the content */
  margin: auto; /* To set the content into the middle */
  overflow: hidden; /* If the text overflows the size of the area the overflowed text is hidden (without a scrollbar) */
  padding: 0 3rem;
}

#showcase {
  background: var(--primary-color); /* The alpha value controls the transparency of the background */
  color: #fff;
  height: 100vh;
  position: relative; /* relative because of its parent #showcase:before to insert the overlay that darkens the background */
}

#showcase:before {  /* Overlay - Hint: The alpha value controls the transparency of the background */
  content: '';  /* This property is needed when using :before */
  background: url('../img/showcase.jpg') no-repeat center center/cover; /* To have the image behind the content (#showcase and .container) (with z-index: -1) */
  position: absolute; /* Because it's the parent element */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#showcase .showcase-container { /* To be able to center everything */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%; /* of its parent (#showcase (100vh)) */
}

#showcase h1 {
  font-size: 4rem;
}

#showcase p {
  font-size: 1.3rem;
}

.btn {
  display: inline-block;
  border: none;
  background: var(--primary-color);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: opacity 1s ease-in-out; /* For the hover state */
  text-decoration: none;
}

.btn:hover {
  opacity: 0.7;
}